<!DOCTYPE html>
<html>
<head>
    <title>Weather App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="gradient"></div>
    <div class="container">
        <form method="POST">
            <input type="text" name="city_name" placeholder="Enter Location">
            <input type="submit" value="Check Weather">
        </form>

        {% if weather %}
        <div class="weather-result">
            {% if icon %}
            <p>{{ display_city }}</p>
            <img src="{{ icon }}" alt="Weather Icon">
            {% endif %}

            {% if temp %}
            <p>{{ temp }}°F</p>
            {% endif %}
            <p>{{ weather }}</p>
        </div>
        {% endif %}
    </div>
</body>
</html>